.card {
  margin-top: 40px;
  display: flex;
  align-self: center;
  background-color: #FCF6BD;
  min-height: 70vh;
  min-width: 70vh;
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: 50px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0 5%;
}
